.about {

}

.about__wrapper {
  @include centerMob;
}

.about__title {
  margin: 0;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 20px;

  @include fontParams(25px, 30px, 700);
  color: $black;
}

.about__text {
  @include fontParams(17px, 20px, 700);
  color: $black;
}

.about__icon {
  width: 35px;
  height: 38px;
  /*background-color: $green-color;*/
  background-position: 0 0;
  background-repeat: no-repeat;

  &--flower {
    background-image: url("../img/icon-feature-flower.svg");
  }

  &--money {
    width: 47px;
    height: 28px;
    background-image: url("../img/icon-feature-money.svg");
  }

  &--heart {
    background-image: url("../img/icon-feature-heart.svg");
  }

  &--ball {
    background-image: url("../img/icon-feature-ball.svg");
  }

  &--rocket {
    width: 55px;
    height: 24px;
    background-image: url("../img/icon-feature-rocket.svg");
  }

  &--gift {
    background-image: url("../img/icon-feature-gift.svg");
  }
}

// ========================================
// Конец стилей мобильной версии
// ========================================



@media (min-width: $table-width) {
  .about {
    margin-bottom: 60px;
  }
  .about__wrapper {
    @include centerTablet;
  }

  .about__title {
    margin-top: 60px;
    margin-bottom: 40px;

    @include fontParams(43px, 50px, 700);
  }

  .about__flex-container {
    display: flex;
    justify-content: space-between;
  }

  .about__flex-item {
    width: 334px;
  }

  .about__text {
    @include fontParams(20px, 22px, 700);
  }

  .about__elements {
    margin-bottom: 55px;

    &:last-child {
      margin-bottom: 0;
    }
  }

}



@media (min-width: $desktop-width) {
  .about__wrapper {
    width: 700px;
    padding: 0 275px;
    margin: 0 auto;
  }

  .about__title {
    margin-top: 70px;

    @include fontParams(53px, 57px, 700);
  }

  .about__flex-item {
    width: 350px;
  }

  .about__text {
    padding-right: 50px;
  }
}


