.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: $bg-banner;
  min-height: 177px;

  &--index {
  justify-content: flex-start;
  }
}

.banner__title {
  @include fontParams(27px, 30px, 700);
  color: $black;
  text-align: center;
}

@media (min-width: $table-width) {
  .banner__title {
    @include fontParams(43px, 50px, 700);
  }

}
