.button {
  display: block;
  padding: 14px 0;

  @include fontParams(17px, 20px, 700);

  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  color: $color-text-light;
  background-color: $white;
  border: 2px solid $color-text-light;

  &:hover,
  &:focus {
    background-color: $color-text-light;
    color: $white;
  }

  &:active {
    background-color: $color-text-light;
    color: $visited-light-color;
  }
}

