.button {
  display: block;
  padding: 14px 0;

  @include fontParams(17px, 20px, 700);

  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  color: $color-text-light;
  background-color: $white;
  border: 2px solid $color-text-light;

  &--video {
    width: 188px;

    font-size: 17px;
    line-height: 17px;
  }

}
