.catalog {
  margin-bottom: 30px;
}

.catalog__wrapper {
  @include centerMob;
}

.catalog__header {
  margin-bottom: 30px;
}

.catalog__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog__item {
  width: 260px;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 30px;

  border: 1px solid $bd-light;

  box-sizing: border-box;


  &:last-child {
    margin-bottom: 0;
  }
}

.catalog__link {
  display: block;
  height: 195px;

  text-decoration: none;
}


.catalog__description {
  position: relative;
  width: 100%;

  padding: 28px;
  padding-bottom: 0;

  text-decoration: none;

  box-sizing: border-box;

  @include boxShadow;
}

.catalog__title-link {
  display: block;

  text-decoration: none;
  cursor: pointer;
}

.catalog__title {
  margin: 0;
  padding-bottom: 28px;

  @include fontParams(17px, 24px, 700);
  color: $black;
}

.catalog__title-link:hover .catalog__title,
.catalog__title-link:focus .catalog__title {
  color: $light-color;
}

.catalog__title-link:active .catalog__title {
  color: $visited-color;
}

.catalog__params {
  margin: 0;
  padding-bottom: 25px;

  @include fontParams(13px, 30px, 400);
  color: $color-text-light;
}

.catalog__price-text {
  margin: 0;
  padding: 0;

  @include fontParams(15px, 24px, 700);
  color: $black;
}

.catalog__price-icon {
  width: 21px;
  height: 19px;

  path {
    fill: $color-text-light;
  }

  &:hover,
  &:focus {
    path {
      fill: $green-color;
    }
  }
  &:active {
    path {
      fill: $svg-active;
    }
  }
}

.catalog__flex-container {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 24px 0;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    display: block;
    width: auto;
    height: 1px;

    content: "";

    background-color: $bd-light;
  }
}

// ========================================
// Конец стилей мобильной версии
// ========================================




@media (min-width: $table-width) {
  .catalog {
    margin-bottom: 53px;
  }

  .catalog__wrapper {
    @include centerTablet;
  }

  .catalog__header {
    margin-bottom: 70px;
  }

  .catalog__item {
    width: 668px;

    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    margin-bottom: 55px;
  }

  .catalog__link {
    height: 333px;
  }

  .catalog__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 333px;
    height: 333px;

    box-sizing: border-box;
  }

  .catalog__title {
    padding-bottom: 0;

    @include fontParams(20px, 24px, 700);
  }

  .catalog__params {
    margin: 0;
    //padding: 5px 28px 0;
    padding: 0;
    padding-top: 8px;
    padding-bottom: 17px;

    @include fontParams(15px, 30px, 400);
  }

  .catalog__flex-container {
    //margin-top: auto;
    padding: 25px 0;

    &::before {
      top: 0;
      left: 0;
      right: 0;
    }
  }

}

// ===========================================
// ===========================================

@media (min-width: $desktop-width) {
  .catalog__wrapper {
    @include centerDesc;
  }

  .catalog__header {
    margin-bottom: 120px;
  }

  .catalog__list {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    margin-bottom: 57px;
  }

  .catalog__item {
    width: 318px;
    height: 660px;
    flex-direction: column;

    margin-bottom: 55px;
  }

  .catalog__description {
    justify-content: space-between;
    flex-grow: 1;

    width: 318px;
    height: auto;

    box-sizing: border-box;
  }

  .catalog__title-block {
    //margin-bottom: auto;
  }

  .catalog__flex-container {
    margin-top: auto;
  }

  .catalog__link {
    height: 462px;
  }

}
