.contacts {
  padding-bottom: 45px;

  background-repeat: repeat-x;
  background-position: 0 bottom;
  background-image: url("../img/zigzag-line.png");

}

.contacts__wrapper {
  @include centerMob;
}

.contacts__title {
  @include fontParams(25px, 30px, 700);
  color: $black;
}

.contacts__item {
  padding: 0;
  margin: 0;
  margin-bottom: 33px;

  color: $color-text-light;
}

.contacts__text {
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
}

.contacts__author-name {
  font-style: normal;
  @include fontParams(17px, 24px, 700);
  color: $black;
}

.contacts__nickname {
  @include fontParams(17px, 24px, 400);
  color: $color-text-light;
}

.contacts__flex-nav {
  display: flex;

  margin-top: 35px;
  margin-bottom: 38px;
}

.contacts__prev {
  flex-grow: 1;

  padding: 0;
  margin: 0;

  width: 130px;
  height: 50px;

  border: 2px solid $bd-light;
  border-right: none;
  background-color: white;
  box-sizing: border-box;
  cursor: pointer;
}

.contacts__nav-icon {
  polygon {
    fill: $black;
  }
}

.contacts__prev:hover .contacts__nav-icon,
.contacts__prev:focus .contacts__nav-icon {
  polygon {
    fill: $light-color;
  }
}

.contacts__prev:active .contacts__nav-icon {
  polygon {
    fill: $visited-color;
  }
}

.contacts__next {
  flex-grow: 1;

  padding: 0;
  margin: 0;

  width: 130px;
  height: 50px;

  border: 2px solid $bd-light;
  background-color: white;
  box-sizing: border-box;
  cursor: pointer;
}

.contacts__next:hover .contacts__nav-icon,
.contacts__next:focus .contacts__nav-icon {
  polygon {
    fill: $light-color;
  }
}

.contacts__next:active .contacts__nav-icon {
  polygon {
    fill: $visited-color;
  }
}



@media (min-width: $table-width) {
  .contacts {
    position: relative;

    padding-bottom: 85px;

    background-repeat: no-repeat, repeat-x;
    background-position: 0 0, 0 100%;
    background-image:
      url("../img/review@1x.jpg"),
      url("../img/zigzag-line-desktop.png");

  }

  .contacts__wrapper {
    @include centerTablet;
  }

  .contacts__title {
    margin: 0;
    padding: 0;
    padding-top: 85px;

    @include fontParams(43px, 50px, 700);
  }

  .contacts__text {
    margin: 0;
    padding: 0;
    margin-top: 52px;
    margin-bottom: 55px;

    @include fontParams(17px, 30px, 400);
  }

  .contacts__flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .contacts__author-name {
    @include fontParams(20px, 24px, 700);
  }

  .contacts__nickname {
    display: block;

    @include fontParams(18px, 24px, 400);
  }

  .contacts__flex-nav {
    display: flex;
    width: 165px;

    margin-top: 0;
    margin-bottom: 0;
  }

  .contacts__prev {
    flex-grow: 0;

    width: 50%;
    height: 30px;

    border: none;

    &::before {
      top: 0;
      left: 0;
    }
  }

  .contacts__next {
    flex-grow: 0;

    width: 50%;
    height: 30px;

    border: none;

    &::before {
      top: 0;
      right: 0;
    }
  }

  .contacts__to-send {
    position: absolute;
    top: 85px;
    right: 50px;

    width: 173px;
  }



}
