.features {
  margin-top: 30px;
  padding-bottom: 35px;

  background-repeat: repeat-x;
  background-position: 0 bottom;
  background-image: url("../img/zigzag-line.png");
}

.features__wrapper {
  @include centerMob;
}

.features__title {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;

  @include fontParams(25px, 30px, 700);
  color: $black;
}

.features__popular-title {
  display: block;

  margin-top: 5px;

  @include fontParams(17px, 20px, 700);
  color: $green-color;
  text-transform: uppercase;
}

.features__text {
  margin: 0;
  padding: 0;
  margin-bottom: 18px;

  @include fontParams(15px, 24px, 400);
  color: $color-text-light;
}

.features__table {
  margin-bottom: 28px;

  @include fontParams(15px, 24px, 400);
  color: $color-text-light;
}

.features__link {
  display: flex;
  justify-content: center;
  text-align: center;

  margin-bottom: 23px;

  text-decoration: none;
}

.features__image {
  &--tablet {
    display: none;
  }
}

.features__flex-item-price {
  display: flex;
  flex-direction: column;
  order: 4;
}

.features__price {
  margin: 0;
  padding: 0;
  margin-bottom: 23px;

  @include fontParams(17px, 24px, 700);
  text-align: center;
  color: $color-text-light;
}

.features__to-order {

}



@media (min-width: $table-width) {
  .features {
    position: relative;

    padding-top: 40px;
    padding-bottom: 70px;
    margin-top: 0;

    background-image: url("../img/zigzag-line-desktop.png");

    &::after {
      position: absolute;
      top: -17px;
      left: 0;

      content: "";
      display: block;

      width: 100%;
      height: 24px;

      background-repeat: repeat-x;
      background-position: 50% 0;
      background-image: url("../img/zigzag-fill-desktop.svg");
    }
  }

  .features__wrapper {
    @include centerTablet;
  }

  .features__flex-container {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
  }

  .features__flex-item {
    width: 292px;

    flex-direction: column;
    justify-content: space-between;
  }

  .features__flex-item-price {
    width: 292px;

    margin-top: -100px;
  }

  .features__title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 57px;

    @include fontParams(43px, 50px, 700);
  }

  .features__popular-title {
    margin-top: 0;

    display: block;
    width: 17.67%;

    text-align: center;
    @include fontParams(17px, 20px, 700);
  }

  .features__link {
    width: 333px;

    margin-left: auto;
    margin-bottom: 0;
  }

  .features__image {
    &--mob {
      display: none;
    }

    &--tablet {
      display: block;
    }
  }

  .features__text {
    display: flex;
    flex-direction: column;

    width: 292px;

    margin-bottom: 45px;

    @include fontParams(17px, 30px, 400);
  }

  .features__table {
    display: flex;
    width: 292px;
    flex-direction: column;

    margin-bottom: 47px;

    @include fontParams(15px, 20px, 400);
  }

  .features__price {
    @include fontParams(20px, 24px, 700);
  }

}
