.main-nav {

}

.main-nav__toogle {
  position: absolute;
  top: 20px;
  right: 30px;

  width: 21px;
  height: 21px;

  font-size: 0;
  cursor: pointer;

  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url("../img/icon-menu-close.svg");

}

.main-nav__wrapper {

}

@media (min-width: $table-width) {

  .main-nav__toogle {
    display: none;
  }

  .main-nav__list--site {
    width: 100%;

    display: flex;
    //justify-content: flex-start;
    align-content: flex-start;
    order: 2;
  }

  .main-nav__list--user {
    width: 347px;

    display: flex;
    justify-content: flex-end;

  }

  // .main-nav__wrapper {
  //   display: flex;
  //   flex-direction: column;
  //   //flex-direction: row;
  // }

}
