@mixin fontParams ($fontSize: 15px, $lineHeight: 30px, $fontWeight: 400) {
  font-size: $fontSize;
  line-height: $lineHeight;
  font-weight: $fontWeight;
}

@mixin visuallyHidden() {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin centerMob() {
  width: auto;
  padding: 0 30px;
  margin: 0 auto;
}

@mixin centerTablet() {
  width: 668px;
  padding: 0 50px;
  margin: 0 auto;
}

@mixin boxShadow() {
  &:hover::before,
  &:focus::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;

    width: 100%;
    height: 100%;

    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;

    width: 100%;
    height: 100%;

    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}
