.page-footer {
  background-color: $bg-grey;
}

.page-footer__wrapper {
  @include centerMob;
}

.page-footer__logo {
  display: none;
}

.page-footer__icon-logo {
  g {
    fill: $black;
  }
}

.page-footer__logo:hover .page-footer__icon-logo,
.page-footer__logo:focus .page-footer__icon-logo {
  g {
    fill: $mail-color;
  }
}

.page-footer__logo:active .page-footer__icon-logo {
  g {
    fill: $mail-color-visited;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 22px 0;
}

.page-footer__text {
  padding-right: 30px;

  @include fontParams(19px, 19px, 700);
  color: $black;
}

.page-footer__link {
  display: inline-block;

  width: 27px;
  height: 35px;

  // font-size: 0;
  // background-repeat: no-repeat;
  // background-position: 0 0;
  // background-image: url("../img/logo-htmlacademy.svg");
}

.page-footer__icon-academy {
  path {
    fill: $black;
  }
}

.page-footer__link:hover .page-footer__icon-academy,
.page-footer__link:focus .page-footer__icon-academy {
  path {
    fill: $mail-color;
  }
}

.page-footer__link:active .page-footer__icon-academy {
  path {
    fill: $mail-color-visited;
  }
}

// ========================================
// Конец стилей мобильной версии
// ========================================



@media (min-width: $table-width) {
  .page-footer {
    padding: 50px 0;
  }
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include centerTablet;
  }

  .page-footer__logo {
    margin: 0;
    padding: 0;

    display: block;

    text-decoration: none;
  }

  .page-footer__copyright {
    padding: 0;
  }
}

// =====================================
// =====================================


@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    @include centerDesc;
  }
}
