.site-list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.site-list__item {
  //width: 100%;
  border-top: 1px solid $bd-light;

  &--desctop {
    display: none;
  }
}

.site-list__link {
  display: block;
  padding: 27px 30px;
  padding-left: 75px;

  @include fontParams(17px, 24px, 700);
  text-decoration: none;
  color: $black;
}

.site-list__item a[href] {
  &:hover,
  &:focus {
    color: $light-color;
  }

  &:active {
    color: $visited-color;
  }
}

// ========================================
// Конец стилей мобильной версии
// ========================================




@media (min-width: $table-width) {
  .site-list__item {
    width: auto;
    border: none;
  }

  .site-list__link {
    padding: 0;
    padding-top: 22px;
    padding-right: 35px;
  }
}

@media (min-width: $desktop-width) {
  .site-list__link {
    padding: 33px 35px;

    @include fontParams(17px, 24px, 700);
  }

  .site-list__item:nth-child(odd) .site-list__link {
    padding-left: 0;
  }

  .site-list__item--desctop .site-list__link {
    padding: 23px;
    padding-left: 35px;

    @include fontParams(15px, 24px, 700);
  }


}
