.site-list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.site-list__item {
  //width: 100%;
  border-top: 1px solid $bd-light;
}

.site-list__link {
  display: block;
  padding: 27px 30px;
  padding-left: 75px;

  @include fontParams(17px, 24px, 700);
  text-decoration: none;
  color: $black;
}

.site-list__item a[href] {
  &:hover,
  &:focus {
    color: $light-color;
  }

  &:active {
    color: $visited-color;
  }
}

@media (min-width: $table-width) {
  .site-list__item {
    width: auto;
    border: none;
  }

  .site-list__link {
    padding: 0;
    padding-top: 22px;
    padding-right: 35px;
  }

  // .site-list {
  //   width: 334px;

  //   display: flex;
  //   justify-content: flex-start;
  //   order: 2;
  // }

  // .site-list__item {
  //   width: 167px;
  // }

  // .site-list__link{
  //   padding: 0;
  //   padding-top: 20px;
  //   // padding-right: 35px;
  // }

}
