.social {
  border-bottom: 1px solid $bd-color;
}

.social__list {
  display: flex;
  justify-content: center;

  padding: 26px 0;
  margin: 0;

  list-style: none;
}

.social__item {
  padding-right: 40px;

  &:last-child {
    padding-right: 0;
  }
}

.social__link {
  display: block;
  width: 25px;
  height: 25px;
}

.social__icon {
  path {
    fill: $black;
  }
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  path {
    fill: $mail-color;
  }
}

.social__link:active .social__icon {
  path {
    fill: $mail-color-visited;
  }
}


@media (min-width: $table-width) {
  .social {
    border: none;
  }

  .social__list {
    padding: 0;
  }


}
