.stats-list {
  display: block;

  @include fontParams(19px, 24px, 700);
  color: #ffffff;

  border: none;
  border-collapse: collapse;
}

.stats-list__wrapper {
  //@include centerMob;
}

.stats-list__row {
  display: block;

  padding: 27px 30px;
  padding-right: 160px;

  background-color: $bg-green-lighten;

  &--darken {
    background-color: $bg-green-darken;
  }

  &:hover,
  &:focus {
    padding-top: 22px;
    padding-bottom: 37px;

    cursor: pointer;
  }
}

.stats-list__ceil {
  display: block;
}

.stats-list__icon {
  background-repeat: no-repeat;

  &--interior {
    background-image: url("../img/icon-interior.svg");
    background-position: 89.5% 50%;
  }

  &--toys {
    background-image: url("../img/icon-toy.svg");
    background-position: 90.625% 50%;
  }
}

.stats-list__link {
  display: block;

  text-decoration: none;
  color: $white;
}

.stats-list__row:active .stats-list__link {
  color: $visited-light-color;
}


@media (min-width: $table-width) {
  .stats-list {
    margin-top: -135px;
  }

  .stats-list__wrapper {
    display: flex;
    @include centerTablet;
  }

  .stats-list__row {
    display: flex;

    margin: 0;
    padding: 35px;
    padding-right: 110px;
    padding-bottom: 50px;

    width: 50%;

    &:hover,
    &:focus {
      padding-top: 30px;
      padding-bottom: 60px;
    }
  }

  .stats-list__icon {
    &--interior {
      background-position: 88% 50%;
    }
    &--toys {
      background-position: 88.82% 50%;
    }
  }

}


@media (min-width: $desktop-width) {
  .stats-list__wrapper {
    @include centerDesc;
  }

  .stats-list__row {
    padding: 35px 37px;
    padding-right: 175px;
    padding-bottom: 50px;

  }

  .stats-list__icon {
    &--interior {
      background-position: 92% 50%;
    }
    &--toys {
      background-position: 93% 50%;
    }
  }

}




