.stats-list {
  @include fontParams(19px, 24px, 700);
  color: #ffffff;
  width: 100%;
  border: none;
  border-collapse: collapse;
}

.stats-list__row {
  background-color: $bg-green-lighten;
  &--darken {
    background-color: $bg-green-darken;
  }
}

.stats-list__ceil {
  width: 50%;
}

.stats-list__icon {
  display: block;
  text-align: center;
  margin-left: auto;
  padding-right: 30px;

  background-repeat: no-repeat;
  &--interior {
    width: 41px;
    height: 63px;

    background-image: url("../img/icon-interior.svg");
    background-position: 0 50%;
  }
  &--toys {
    width: 60px;
    height: 60px;

    background-image: url("../img/icon-toy.svg");
    background-position: 0 50%;
  }
}

.stats-list__link {
  display: block;
  padding: 27px 30px;
  // padding-left: 30px;

  text-decoration: none;
  color: $white;
}



