.table-elem {
  width: 100%;

  @include fontParams(15px, 20px, 400);
  color: $color-text-light;
  border-collapse: collapse;
}

.table-elem__row {
  border-bottom: 1px solid $bd-light;
}

.table-elem__key {
  width: 38%;
  padding: 10px 0;

  vertical-align: top;
}

.table-elem__value {
  width: 62%;
  padding: 10px 0;

  vertical-align: top;
}

@media (min-width: $table-width) {
  .table-elem {
    width: 292px;
  }

  .table-elem__key {
    width: 30%;
    padding-right: 30px;
  }

  .table-elem__value {
    width: 70%;
  }



}




