// Цвета фонов
$bg-green-lighten: #63d1bb;
$bg-green-darken: #56c3b2;
$bg-grey: #f1f1f1;
$green-color: #63d1bb;
$bd-light: #ececec;
$bd-color: #e5e5e5;
$bg-banner: #f9f9f9;
$svg-color: #cccccc;

// Цвета шрифтов
$color-text-light: #444444;
$black: #000000;
$white: #ffffff;

// Цвета при наведении
$light-color: rgba(0, 0, 0, 0.6);
$visited-color: rgba(0, 0, 0, 0.3);
$visited-light-color: rgba(255, 255, 255, 0.3);
$svg-active: rgba(99, 209, 187, 0.3);
$mail-color: rgba(70, 193, 174, 1);
$mail-color-visited: rgba(70, 193, 174, 0.3);

// Точки перехода в медиавыражениях
$mobile-width-only: 767px;
$table-width: 768px;
$desktop-width: 1250px;
