$bg-green-lighten: #63d1bb;
$bg-green-darken: #56c3b2;
$bg-grey: #f1f1f1;
$color-text-light: #444444;
$green-color: #63d1bb;
$black: #000000;
$bd-light: #ececec;
$bd-color: #e5e5e5;
$white: white;
$bg-banner: #f9f9f9;

$table-width: 768px;
$desktop-width: 1150px;
