.video {
  margin-bottom: 58px;
}

.video__wrapper {
  @include centerMob;

  width: 260px;

  display: flex;
  flex-direction: column;
}

.video__header {
  position: relative;

  margin: 0;
  padding: 28px;

  border: 1px solid $bd-light;

  &--top {

  }

  &--bottom {
    display: none;
  }

  &::before {
  position: absolute;
  top: 35px;
  left: 30px;

  content: "";

  width: 32px;
  height: 32px;

  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url("../img/icon-video.svg");
  }
}

.video__title {
  margin: 0;
  padding: 0;
  padding-left: 65px;

  @include fontParams(17px, 24px, 700);
  color: $black;
}

.video__container {
  position: relative;
  display: flex;
}

.video__image-mob {

}

.video__image-tablet {
  display: none;
}

.video__play {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 101px;
  height: 77px;

  margin-left: -50px;
  margin-top: -38px;

  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url("../img/icon-play.svg");

  cursor: pointer;
}

.video__description {
  position: relative;

  display: flex;
  flex-direction: column;

  padding: 33px;

  border: 1px solid $bd-light;

  box-sizing: border-box;
  @include boxShadow;

}

.video__text {
  margin: 0;
  padding: 0;
  margin-bottom: 28px;

  @include fontParams(13px, 24px, 400);
  color: $color-text-light;
}

.video__to-send {

}




@media (min-width: $table-width) {
  .video {
    margin-bottom: 63px;
  }

  .video__wrapper {
    justify-content: flex-start;

    @include centerTablet;
  }

  .video__header {

    &--top {
      display: none;
    }

    &--bottom {
      display: block;

      padding: 0;
      margin-bottom: 40px;

      border: none;
    }

    &::before {
      top: 0;
      left: 0;
    }
  }

  .video__title {
    padding-top: 5px;

    @include fontParams(20px, 24px, 700);
  }

  .video__container {
  }

  .video__image-mob {
    display: none;
  }

  .video__image-tablet {
    display: block;
  }

  .video__description {
    padding: 40px 42px 45px;
  }

  .video__text {
    @include fontParams(15px, 30px, 400);
  }

}


