.video {
  margin-bottom: 58px;
}

.video__wrapper {
  display: flex;
  justify-content: center;

  @include centerMob;
}

.video__flex-container {
  width: 260px;

  display: flex;
  flex-direction: column;
  //align-items: center;
  //justify-content: center;

  border: 1px solid $bd-light;
}

.video__header {
  //position: relative;

  display: flex;
  //justify-content: space-between;
  align-items: center;

  //width: 258px;

  margin: 0;
  padding: 28px;

  //border: 1px solid $bd-light;
}

.video__title {
  margin: 0;
  padding: 0;
  // padding: 23px;
  //padding-left: 64px;

  @include fontParams(17px, 24px, 700);
  color: $black;
}

.video__icon {
  // position: absolute;
  // top: 20px;
  // left: 30px;

  display: block;
  width: 32px;
  height: 32px;

  padding-right: 64px;

  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url("../img/icon-video.svg");
}

.video__container {
  position: relative;
  //width: 260px;
  //height: 150px;
}

.video__image-mob {

}

.video__image-tablet {
  display: none;
}

.video__play {
  position: absolute;
  top: 50%;
  left: 50%;

  font-size: 0;

  width: 101px;
  height: 77px;

  margin-left: -50px;
  margin-top: -38px;

  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url("../img/icon-play.svg");

  cursor: pointer;
}

.video__description {
  padding: 33px;
  //border: 1px solid $bd-light;
}

.video__text {
  margin: 0;
  padding: 0;
  //padding-top: 32px;
  //padding-left: 33px;
  margin-bottom: 28px;

  @include fontParams(13px, 24px, 400);
  color: $color-text-light;
}

.video__to-send {
  //margin: 0 auto;
  //margin-bottom: 32px;
}




@media (min-width: $table-width) {
  .video {
    margin-bottom: 63px;
  }

  .video__wrapper {
    justify-content: flex-start;

    @include centerTablet;
  }

  .video__flex-container {
    width: 668px;
  }

  .video__header {
    padding: 38px 42px 30px;

    order: 2;
  }

  .video__container {
    order: 1;
  }

  .video__image-mob {
    display: none;
  }

  .video__image-tablet {
    display: block;
  }

  .video__description {
    padding: 0 42px 45px;
    order: 3;
  }



}


