.page-footer {
  background-color: $bg-grey;
}

.page-footer__wrapper {
  @include centerMob;
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  padding: 22px 0;
}

.page-footer__text {

  padding-right: 30px;

  @include fontParams(19px, 19px, 700);
  color: $black;
}

.page-footer__link {
  display: inline-block;

  width: 27px;
  height: 35px;

  font-size: 0;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url("../img/logo-htmlacademy.svg");

}
