
@import "blocks/fonts.scss";
@import "blocks/variables.scss";
@import "blocks/mixins.scss";

body {
  min-width: 320px;

  font-family: "OpenSans", "Arial", "Tahoma", sans-serif;
  @include fontParams();
  // width: 320px;
  color: $color-text-light;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  @include visuallyHidden();

}

.page-wrapper {
  width: 260px;
  padding: 0 30px;
}


@import "blocks/button.scss";

// Хедер
@import "blocks/page-header.scss";

// Стили для главной страницы
@import "blocks/page-main.scss";
@import "blocks/main-nav.scss";
@import "blocks/site-list.scss";
@import "blocks/user-list.scss";
@import "blocks/category.scss";
@import "blocks/banner.scss";
@import "blocks/stats-list.scss";
@import "blocks/features.scss";
@import "blocks/table-elem.scss";
@import "blocks/about.scss";
@import "blocks/contacts.scss";
@import "blocks/map.scss";

// Стили страницы каталога
@import "blocks/catalog.scss";
@import "blocks/video.scss";

// Страница с формой
@import "blocks/banner-block.scss";
@import "blocks/form-feedback.scss";
@import "blocks/form.scss";

// футер
@import "blocks/page-footer.scss";
@import "blocks/social.scss";


