
@import "fonts.scss";
@import "mixins.scss";
@import "variables.scss";
@import "button.scss";

body {
  font-family: "OpenSans", "Arial", "Tahoma", sans-serif;
  @include fontParams();
  width: 320px;
  color: $color-text-light;
}

.visually-hidden {
  @include visuallyHidden();
  background-color: #ffffff;
}

.page-wrapper {
  width: 260px;
  margin: 0 auto;
}


@import "page-header.scss";

// Стили для главной страницы
@import "page-main.scss";
@import "main-nav.scss";
@import "site-list.scss";
@import "user-list.scss";
@import "category.scss";
@import "banner.scss";
@import "stats-list.scss";
@import "features.scss";
@import "table-elem.scss";
@import "about.scss";
@import "contacts.scss";
@import "map.scss";
// Стили страницы каталога
@import "catalog.scss";
// футер
@import "page-footer.scss";
@import "social.scss";


